@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --font-orbitron: "Outfit", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #08131f;
  color: #ffffff;
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #08131f;
}
::-webkit-scrollbar-thumb {
  background: #7f00ff;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f2fe;
}
